@page "/"

<PageTitle>ハモレコ</PageTitle>

<h1>ハモレコ</h1>

多重録音できるよ

<Component Track=1 Title="CCC"/>
<Component Track=2 Title="BBB"/>
<Component Track=3 Title="AAA" />
//<SurveyPrompt Title="How is Blazor working for you?" />
